body {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

::selection {
  background-color: #958831;
  color: white;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 40px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 50px;
      line-height: 50px;
    }

    .links {
      display: flex;
      gap: 10px;
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .gh {
        background-image: url(/svg/github.svg);
      }

      .x {
        background-image: url(/svg/x.svg);
      }
    }
  }

  p {
    font-size: 22px;
    line-height: 25px;
    margin-top: 10px;
  }
}

main {
  & > div {
    margin-bottom: 15px;
    h2 {
      user-select: none;
      margin-bottom: 5px;
    }
  }
}

.code-block {
  margin-top: 15px;
  overflow-x: hidden;

  .inner {
    position: relative;

    .cs-btn {
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: 5;
    }

    pre {
      background-color: #3e4637;
      border: 1px solid;
      border-color: #292c21 #8c9284 #8c9284 #292c21;
      margin-top: 5px;
      position: relative;
      font-family: "Courier New", Courier, monospace;
      padding: 5px;

      code {
        white-space: pre-wrap;

        &::selection {
          background-color: #958831;
          color: white;
        }
      }
    }
  }
}

footer {
  text-align: center;
  
  a {
    color: #dedfd6;
  }
}

@media (max-width: 400px) {
  body {
    padding: 20px;
  }
}

.pointer {cursor: pointer;}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}